.about-me__description > h1,
.portfolio > h1,
.skill-set > h1,
.blog > h1 {
  font-size: 2rem;
  color: black;
}

.section {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1024px;
}

.about-me {
  display: flex;
}

.skill-set {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.portfolio {
  display: flex;
}

.container {
  height: 100vh;

  background: linear-gradient(
    to right,
    rgb(152, 152, 255) 0%,
    rgb(152, 152, 255) 50%,
    white 50%,
    white 100%
  );

  padding: 1rem;
}

.triangle {
  left: 50%;
  top: 80%;
  position: absolute;

  width: 0;
  height: 0;

  border: solid 50px;
  border-color: transparent transparent transparent rgb(152, 152, 255);
}

.scroll__touch {
  display: block;

  top: 85%;
  left: 49%;
  position: absolute;
}

.scroll__mouse {
  display: none;

  top: 84%;
  left: 49%;
  position: absolute;
}

header {
  display: flex;

  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  width: 100%;
  max-width: 1024px;

  padding: 1rem;
  margin: 0 auto;
}

.categories {
  display: none;
}

.greeting {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  color: rgb(43, 30, 26);
}

.greeting__title--small {
  font-size: 2rem;
}

.about-me__description {
  gap: 2rem;
  display: flex;
  flex-direction: column;

  padding-top: 1rem;
  text-align: justify;
  line-height: 1.7;
  color: #999999;
}

.image__container {
  display: none;

  width: 50%;
  height: 500px;
}

.image__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.skill-set__categories {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.skill-set__category {
  width: 100%;
  height: 200px;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .scroll__touch {
    display: none;
  }

  .scroll__mouse {
    display: block;
  }

  .categories {
    gap: 3rem;
    display: flex;
  }

  .greeting {
    transform: translateY(45%);
  }

  .about-me__description {
    width: 50%;
    padding-left: 2rem;
  }

  .image__container {
    display: block;
  }

  .skill-set__categories {
    flex-direction: row;
  }

  .skill-set__category {
    width: 46%;
  }
}
