/* FRESH CSS */

* {
  --primary: #00b0ff;
  /* TODO: Look for a secondary color */
  --secondary: transparent;
  --text-alt: #676c71;
}

.svg__defaults {
  width: 100%;
  height: auto;
  max-width: 650px;
  margin: 0 auto;
}

.section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
}

.hero {
  gap: 1.5rem;
  display: flex;
  place-items: center;
  flex-direction: column;

  padding-bottom: 0;
}

/* TODO: Increase font size for greeting and whoami after the breakpoint */
.hero__greeting {
  font-size: 1.5rem;
}

.hero__greeting--whoami {
  font-size: 4rem;
}

.hero__greeting--left-offset {
  padding-left: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .hero {
    flex-direction: row;
  }
}

/* ****************************** */

/* OLD CSS - TO BE IMPROVED */

.summary {
  padding: 1.5rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.summary__divider {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #dee2e6;
}

.summary__list {
  z-index: 10;
  display: flex;
  max-width: 400px;
  border-radius: 10rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  box-shadow: 0 0 30px rgba(173, 181, 189, 0.4);
}

.summary__item__title {
  opacity: 0.6;
  text-align: center;
}

.summary__item {
  flex: 1;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #dee2e6;
}

.summary__item:last-child {
  border-right: none;
}

.icon {
  width: 18px;
  height: 18px;
  stroke: #dee2e6;
}

.aboutMe {
  gap: 2rem;
  display: flex;
  flex-direction: column;

  text-align: center;
  font-size: 0.8rem;
}

.aboutMe__name {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.aboutMe__title,
.personal__projects h5 {
  color: #676c71;
  font-weight: 400;
}

.aboutMe__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.personal__projects {
  text-align: center;
}

.personal__projects h3 {
  padding-top: 2rem;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta__message {
  gap: 2rem;
  display: flex;
  flex-direction: column;

  border-radius: 0.25rem;
  padding: 2rem;

  color: #f8f9fa;
  background-color: var(--primary);
}

.cta__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cta__socials a {
  all: unset;
  cursor: pointer;
  background-color: #f8f9fa;
  color: black;
  padding: 10px 14px;
  border-radius: 50px;
}

.cta__socials a:hover {
  background-color: #e2e6ea;
}

.newest__articles {
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.article__cards {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-height: 500px;
}

.article__card {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  box-shadow: 2px 3px 10px rgba(206, 212, 218, 0.3);
  border: 1px solid #dee2e6;
  width: 100%;
  /* TODO: You can remove max-width once you get more articles in */
  max-width: 300px;
  height: auto;
}

.article__card > img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.article__details {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.article__card h4 {
  text-align: center;
}

.article__card a {
  all: unset;

  cursor: pointer;
  color: var(--primary);
  padding-top: 1rem;
}

.article__card p {
  overflow: hidden;

  font-size: 0.8rem;
  text-align: center;
}

.footer {
  gap: 1rem;
  display: flex;
  justify-content: center;

  margin-top: 3rem;
  padding: 0 1rem 1rem 1rem;
}

.footer__item {
  padding: 0.5rem;
  border-radius: 50%;

  border: 2px solid var(--primary);
}
