* {
  /* Color pallete */
  --primary-color: #007acc;
  --primary-hover-color: #005fa3;
  --secondary-color: #9fa7af;
  --background-color: #ffffff;
  --light-gray: #dee2e6;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --error-color: #dc3545;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-extra-large: 64px;

  /* Font sizes */
  --font-base: 1rem;
  --font-medium: 1.5rem;
  --font-large: 2rem;
  --font-extra-large: 4rem;
}

.svg__defaults {
  width: 100%;
  height: auto;
  max-width: 650px;
  margin: 0 auto;
}

.section {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--spacing-large) var(--spacing-medium);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  gap: var(--spacing-large);
  display: flex;
  place-items: center;
  flex-direction: column;
}

.hero__greeting {
  font-size: var(--font-medium);
}

.hero__greeting--whoami {
  font-size: var(--font-extra-large);
  padding-bottom: var(--spacing-medium);
}

.hero__greeting--left-offset {
  padding-left: 1.5rem;
}

.summary__divider {
  z-index: -1;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid var(--secondary-color);
}

.summary {
  position: relative;
}

.summary__list {
  display: flex;
  border-radius: 10rem;
  background-color: var(--background-color);
  box-shadow: 0 0 30px rgba(173, 181, 189, 0.4);
}

.summary__item {
  flex: 1;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid var(--light-gray);
}

.summary__item:last-child {
  border-right: none;
}

.summary__item__title {
  color: var(--secondary-color);
  text-align: center;
}

.cta {
  gap: 2rem;
  display: flex;
  flex-direction: column;

  padding: var(--spacing-medium);

  color: #f8f9fa;
  background-color: var(--primary-color);
}

.cta__socials {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  text-align: center;
}

.cta__socials a {
  all: unset;
  cursor: pointer;
  background-color: #f8f9fa;
  color: black;
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: 50px;
}

.cta__socials a:hover {
  background-color: #e2e6ea;
}

.footer {
  gap: 1rem;

  padding: var(--spacing-medium);
  background-color: var(--light-gray);
}

.footer__item {
  padding: 0.5rem;
  border-radius: 50%;

  border: 2px solid var(--primary-color);
}

@media only screen and (min-width: 768px) {
  .cta {
    text-align: center;
  }
  .cta__socials {
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    flex-direction: row;
  }
}
