.presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  max-width: 1024px;
  margin: auto auto;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.introduction__greeting {
  font-weight: 500;
  font-size: 1.8rem;
}

.introduction__me {
  font-weight: 700;
  font-size: 4rem;
}

.introduction__profession {
  font-size: 1.3rem;
}

.introduction__details {
  all: unset;

  list-style: none;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}

.introduction__details__item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.summary {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary__divider {
  border: 1px solid #dee2e6;
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.summary__list {
  box-shadow: 0 0 30px rgba(173, 181, 189, 0.4);
  max-width: 400px;
  display: flex;
  border: 1px solid #dee2e6;
  border-radius: 10rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #fff;
}

.summary__item__title {
  opacity: 0.6;
  text-align: center;
}

.summary__item {
  flex: 1;
  padding: 0.5rem;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary__item:last-child {
  border-right: none;
}

.icon {
  width: 18px;
  height: 18px;
  stroke: #dee2e6;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.cta__about {
  display: flex;
  gap: 1rem;
}

.cta__btn {
  background-color: transparent;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.cta__btn:hover {
  cursor: pointer;
  background-color: #dee2e6;
}

@media only screen and (min-width: 500px) {
  .cta {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .introduction__details {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .cta {
    padding-left: 1rem;
    align-items: start;
    flex-direction: column;
    justify-content: start;
  }

  .cta__about {
    flex-direction: column;
  }
}
